<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700|Roboto:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<div class="container">
  <nav class="navbar">
      <!-- Logo -->
      <div class="navbar-brand">
      <a class="awr-logo">
          <img class="default-logo" src="assets/images/awiarlogo.png">
      </a>
      </div>
      <!-- Search bar -->
      <div class="search-container">
          <div class="search-bar">
              <span class=" search-icon">{{fa-icon 'search'}}</span>
              <input class="search-field" placeholder="search stories and profiles" type="text">
          </div>
      </div>
      <!-- Widgets -->
      <div class="nav-right">
      <div class="widget-container">
          <!-- Settings widget -->
          <div class="settings-widget">
              <img class="settings-widget-icon widgets" src="assets/images/settings.png">
          </div>
          {{!-- Notifications widget --}}
          <div class="notification-widget widgets">
              <img class="notification-widget-icon" src="assets/images/bellicon.png">
            {{!--  <div class="notification-box">
                  <div class="notification-box-title"><div class="fa fa-bell"></div>Notifications</div>
                  <p class="notification-box-read">Mark all as read</p>
                 <div class="notification-box-messages">
                      <!-- Notification messages are hardcoded -->
                      <div class="notification-message">
                          <span><span>Andrew Kozadinos liked your article Righteous Indignation in the 21st century</span></span>
                          <div class="notification-message-date">
                              Dec 18, 2018 at 09:25 am
                          </div>
                      </div>
                      <div class="notification-message">
                          <span><span>Iris Goldberg liked your article Righteous Indignation in the 21st century</span></span>
                          <div class="notification-message-date">
                              Dec 18, 2018 at 09:25 am
                          </div>
                      </div>
                      <div class="notification-message">
                          <span><span>Smith Kevinson liked your article Righteous Indignation in the 21st century</span></span>
                          <div class="notification-message-date">
                              Dec 18, 2018 at 09:25 am
                          </div>
                      </div>
                      <div class="notification-message">
                          <span><span>Mary Right liked your article Righteous Indignation in the 21st century</span></span>
                          <div class="notification-message-date">
                              Dec 18, 2018 at 09:25 am
                          </div>
                      </div>
                      <div class="notification-message">
                          <span><span>Andrew Kozadinos liked your article Righteous Indignation in the 21st century</span></span>
                          <div class="notification-message-date">
                              Dec 18, 2018 at 09:25 am
                          </div>
                      </div>
                      <div class="notification-message">
                          <span><span>Mary Right liked your article Righteous Indignation in the 21st century</span></span>
                          <div class="notification-message-date">
                              Dec 18, 2018 at 09:25 am
                          </div>
                      </div>
                      <div class="notification-message">
                          <span><span>Andrew Kozadinos liked your article Righteous Indignation in the 21st century</span></span>
                          <div class="notification-message-date">
                              Dec 18, 2018 at 09:25 am
                          </div>
                      </div>
                  </div>
              </div> --}}
          </div>
      </div>
          <!-- User widget -->
          <div class="user-widget widgets">
          <img class="user-widget-icon" src="assets/images/profilephoto.png">

          {{!--

              <div class="user-box">
                  <div class="user-box-title">
                      <div class="user-box-info">
                          <img class="user-box-image" src="icons/user-box.png">
                          <div class="user-box-details">
                              <span class="user-box-name">Mark Hughes</span>
                              <span class="user-box-email">markhu@gmail.com</span>
                              <span class="user-box-role"><div class="fa fa-star-o"><span>ADMINISTRATOR</span></div></span>
                          </div>
                      </div>
                      <div class="user-box-footer">
                          <div class="user-box-profile"><div class="fa fa-user"></div><span>PROFILE</span></div>
                          <div class="user-box-signout"><div class="fa fa-sign-out"></div><span>SIGN OUT</span></div>
                      </div>
                  </div>
              </div>
          </div>--}}
          </div>
        </div>
  </nav>
  <!-- Background image -->
  <div class="background-image">


      <div class="profile-header">

          <!-- Profie picture -->
          <figure class="profile-picture">
              <img class='prof-pic'src="assets/images/profilephoto.png">
          </figure>
          <!-- User info -->
          <div class="header-card">
              <div class="username">
                  <h2>Mark Hughes</h2>
                  <span class="followers-number">127</span> <span class="followers"> FOLLOWERS </span><span class="followers-dot">•</span>
                <span class="following-number">86</span>  <span class="following">  FOLLOWING</span>
              </div>
              <div class="title">
                  <span>Marketing Manager @ Awiar Solutions</span>
              </div>
              <div class="profile-buttons">
                  <div class="edit-profile">
                      <p><span>EDIT</span> {{fa-icon 'pen'}} </p>
                  </div>
                  <div class="share-profile">
                      <p><span>SHARE</span>{{fa-icon 'share-alt'}}</p>
                  </div>
              </div>

          </div>
        </div>
    </div>
    <!-- Main Content -->
    <div class="main-container">
      <!-- About Section -->
      <div class="about-section">
        <h2>About <div class="about-edit">{{fa-icon 'pen'}}</div></h2>
        <p> But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I
           will give you a complete account of the system, and expound the actual teachings of the great explorer of the
           truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it
           is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that
           are extremely painful.</p>
      </div>
      <div class="articles">
        <div class="articles-title">
          Your latest stories and opinions
        </div>

      <!-- Article Boxes -->

        <img class="left-arrow-articles" src="assets/images/left.png">
        <img class="right-arrow-articles" src="assets/images/right.png">
        <div class="article-box-container">

          <div class="article-box">
            <div class="article-box-header">
              <div class="article-box-header-photo">
                <img src="assets/images/profilephoto.png">
              </div>
              <div class='article-box-info'>
                <p class="article-box-info-name"> Mark Hughes</p>
                <p class="article-box-info-date">Jun 2nd 2018</p>
              </div>
            </div>
            <div class="article-box-main">
              <img src="assets/images/article-box-image-1.png">
              <p>Righteous Indignation in the 21st century: an essay</p>
              <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue...</p>
              <div class="article-box-footer">
                <p>Read More{{fa-icon "forward"}}</p>
                <i class="far fa-comments"></i>
                <span class="article-box-footer-numbers">2</span>
                <span class="article-box-footer-comments">comments</span>
                <div class="article-box-footer-right">
                  <span class="article-box-footer-numbers">60</span>
                  <i class="far fa-heart"></i>
                  <i class="far fa-bookmark"></i>
                </div>
              </div>
            </div>
            <div>
            </div>
          </div>
          <div class="article-box">
            <div class="article-box-header">
              <div class="article-box-header-photo">
                <img src="assets/images/profilephoto.png">
              </div>
              <div class='article-box-info'>
                <p class="article-box-info-name"> Mark Hughes</p>
                <p class="article-box-info-date">Jun 2nd 2018</p>
              </div>
            </div>
            <div class="article-box-main">
              <img src="assets/images/article-box-image-2.png">
              <p>Righteous Indignation in the 21st century: an essay</p>
              <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue...</p>
              <div class="article-box-footer">
                <p>Read More{{fa-icon "forward"}}</p>
                <i class="far fa-comments"></i>
                <span class="article-box-footer-numbers">2</span>
                <span class="article-box-footer-comments">comments</span>
                <div class="article-box-footer-right">
                  <span class="article-box-footer-numbers">60</span>
                  <i class="far fa-heart"></i>
                  <i class="far fa-bookmark"></i>
                </div>
              </div>
            </div>

          </div>
          <div class="article-box">
            <div class="article-box-header">
              <div class="article-box-header-photo">
                <img src="assets/images/profilephoto.png">
              </div>
              <div class='article-box-info'>
                <p class="article-box-info-name"> Mark Hughes</p>
                <p class="article-box-info-date">Jun 2nd 2018</p>
              </div>
            </div>
            <div class="article-box-main">
              <img src="assets/images/article-box-image-3.png">
              <p>Righteous Indignation in the 21st century: an essay</p>
              <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue...</p>
              <div class="article-box-footer">
                <p>Read More{{fa-icon "forward"}}</p>
                <i class="far fa-comments"></i>
                <span class="article-box-footer-numbers">2</span>
                <span class="article-box-footer-comments">comments</span>
                <div class="article-box-footer-right">
                  <span class="article-box-footer-numbers">60</span>
                  <i class="far fa-heart"></i>
                  <i class="far fa-bookmark"></i>
                </div>
              </div>
            </div>

          </div>
          <div class="article-box">
            <div class="article-box-header">
              <div class="article-box-header-photo">
                <img src="assets/images/profilephoto.png">
              </div>
              <div class='article-box-info'>
                <p class="article-box-info-name"> Mark Hughes</p>
                <p class="article-box-info-date">Jun 2nd 2018</p>
              </div>
            </div>
            <div class="article-box-main">
              <img src="assets/images/article-box-image-4.png">
              <p>Righteous Indignation in the 21st century: an essay</p>
              <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue...</p>
              <div class="article-box-footer">
                <p>Read More{{fa-icon "forward"}}</p>
                <i class="far fa-comments"></i>
                <span class="article-box-footer-numbers">2</span>
                <span class="article-box-footer-comments">comments</span>
                <div class="article-box-footer-right">
                  <span class="article-box-footer-numbers">60</span>
                  <i class="far fa-heart"></i>
                  <i class="far fa-bookmark"></i>
                </div>
              </div>
            </div>

          </div>
          <div class="article-box">
            <div class="article-box-header">
              <div class="article-box-header-photo">
                <img src="assets/images/profilephoto.png">
              </div>
              <div class='article-box-info'>
                <p class="article-box-info-name"> Mark Hughes</p>
                <p class="article-box-info-date">Jun 2nd 2018</p>
              </div>
            </div>
            <div class="article-box-main">
              <img src="assets/images/article-box-image-5.png">
              <p>Righteous Indignation in the 21st century: an essay</p>
              <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue...</p>
              <div class="article-box-footer">
                <p>Read More{{fa-icon "forward"}}</p>
                <i class="far fa-comments"></i>
                <span class="article-box-footer-numbers">2</span>
                <span class="article-box-footer-comments">comments</span>
                <div class="article-box-footer-right">
                  <span class="article-box-footer-numbers">60</span>
                  <i class="far fa-heart"></i>
                  <i class="far fa-bookmark"></i>
                </div>
              </div>
            </div>

          </div>
        </div>

        </div>
        <div class="experience">
          <div class="experience-title">
            Experience & Accomplishments {{fa-icon "plus-circle"}}
          </div>
          <div class="experience-item">
            <div>{{fa-icon "flask"}}</div>
            <h3>Tester on Awiar Platforms</h3>
            <p>UI testing of Awiar platform such as Awiar website, Awiar Read, Awiar Profile and other. <br> Aug 1st 2017 - Ongoing</p>
            <hr>
          </div>
          <div class="experience-item">
            <div>{{fa-icon "graduation-cap"}}</div>
            <h3>Master's studies in University Of Helsinki</h3>
            <p>Computer Science<br> Jan 15th 2016 - ongoing</p>
            <hr>
          </div>
          <div class="experience-item">
            <div>{{fa-icon "building"}}</div>
            <h3>Customer Relations at Awiar Solutions</h3>
            <p>Business proposals and communication<br> Dec 16th 2016 - ongoing</p>
            <hr>
          </div>
          <div class="experience-item">
            <div>{{fa-icon "flask"}}</div>
            <h3>Tester on Awiar Platforms</h3>
            <p>Topographic map of Červený Kostelec district in resolution 1:10 000
            <br> Oct 20th 2012 - Jan 15th 2013</p>
            <hr>
          </div>
        </div>
        <button class="show-more-btn">Show More {{fa-icon "chevron-down"}}</button>
        <div class="skills">
          <div class="skills-title">
            Skills
          </div>
          <ul>
             <li>Programming</li>
             <li>Databases</li>
             <li>Software Modeling</li>
             <li>Java</li>
             <li>Html</li>
             <li>Css</li>
             <li>JavaScript</li>
             <li>SQL</li>
             <li>GIS</li>
             <li>Cartography</li>
             <li>Geography</li>
             <li>Testing</li>
             <li>ArcGIS</li>
             <li>QGIS</li>
             <li>Marketing</li>
             <li>Product Development</li>
             <li>Social Media</li>
             <li>SEO</li>
             <li>Copywriting</li>
             <li>Communication</li>
          </ul>
        </div>




    </div>



</div>
<div class="footer">
  <div class="footer-container">
    <div class="footer-title">
    Connect with us
    </div>
      <div class="footer-container-icon">
        <i class="fab fa-facebook-f"></i>
      </div>
      <div class="footer-container-icon">
         <i class="fab fa-instagram"></i>
      </div>
      <div class="footer-container-icon">
         <i class="fab fa-twitter"></i>
      </div>
      <div class="footer-container-icon">
         <i class="fab fa-linkedin-in"></i>
      </div>

  </div>
</div>
